[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:sam1013/riscv-isa-sim.git
	branch = timberv
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = git@github.com:sam1013/riscv-opcodes.git
	branch = timberv
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "timberv-tag-tests"]
	path = timberv-tag-tests
	url = git@github.com:sam1013/timberv-tag-tests.git
[submodule "timberv-runtime"]
	path = timberv-runtime
	url = git@github.com:sam1013/timberv-runtime.git
